<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search result</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="./style/profile.css">
</head>
<body>
    <a href="/home"><button class="center">Home</button></a><br>
    <div class = "h1div"><h1>Results for search term: </h1>
            
                
            <h2><p><%= temp.name%></p></h2>
                <p><%= temp.email%> </p>
                <p><%= temp.phno%> </p>         
        </div>
=======
</head>
<body>
    <a href="/home"><button>Home</button></a>
    <h1>Results for search term: </h1>
            <h2>
                <li><%= temp.name%></li>
            </h2>
            <ul>
                <li><%= temp.email%> </li>
                <li><%= temp.phno%> </li>         
            </ul>
>>>>>>> 9be1d1347ccc618cd81151d90aff5a5501129187
          
</body>
</html>